In [1]:
import os
import sys
import pickle

current_directory = os.getcwd()

parrent_directory = os.path.dirname(current_directory)

parrent_directory2 = os.path.dirname(parrent_directory)
sys.path.insert(0, parrent_directory2)

scripts_dir = os.path.join(parrent_directory2, 'scripts')

from scripts.main import DataPreprocessing, FinancialAnalyzer

# Check if the file exists in the 'financial-solutions-forecasting' directory
file_path = os.path.join(parrent_directory2, 'filtered_data_frames.pkl')

# Load the filtered data frames
with open(file_path, 'rb') as f:
    filtered_data_frames = pickle.load(f)

# Now you can use filtered_data_frames in your other code
#for label, df in filtered_data_frames.items():
#    print(f"{label} Data:")
#    print(df.tail())

In [2]:
# Iterate over each DataFrame in the dictionary and check for missing values
for label, filtered_df in filtered_data_frames.items():
    print(f"Checking missing values for {label} Data:")
    analyzer = FinancialAnalyzer(filtered_df, '2013-01-01', '2023-12-29')
    missing_values = analyzer.check_missing_values(filtered_df)
    print(missing_values)
    analyzer.check_data_type(filtered_df)

Checking missing values for AAPL Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for AMZN Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for GOOG Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for META Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for MSFT Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for NVDA Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
Checking missing values for TSLA Data:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [3]:
# Iterate over each DataFrame in the dictionary and check for missing values
for label, filtered_df in filtered_data_frames.items():
    print(f"Checking data type for {label} Data:")
    analyzer = FinancialAnalyzer(filtered_df, '2013-01-01', '2023-12-29')
    data_type = analyzer.check_data_type(filtered_df)
    print(data_type)

Checking data type for AAPL Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for AMZN Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for GOOG Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for META Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for MSFT Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for NVDA Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object
Checking data type for TSLA Data:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
dtype: object

In [4]:
# Iterate over each DataFrame in the dictionary and check for missing values
for label, filtered_df in filtered_data_frames.items():
    print(f"Description for {label}:")
    # Exclude the date column and describe the numeric columns
    numeric_df = filtered_df.select_dtypes(include=['number'])
    display(numeric_df.describe())

Description for AAPL:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.000000,2768.000000
mean,72.306914,73.092193,71.567077,72.363529,70.133302,1.612260e+08,0.002731,0.003974
std,56.353981,56.992647,55.763624,56.411026,56.680515,1.236387e+08,0.022224,0.153217
min,13.856071,14.271429,13.753571,13.947500,11.952173,2.404830e+07,0.000000,0.000000
25%,27.574999,27.933750,27.295626,27.588126,25.088475,8.424670e+07,0.000000,0.000000
50%,43.835001,44.312500,43.623751,43.958752,41.759007,1.211314e+08,0.000000,0.000000
75%,128.952499,130.627506,127.415003,129.612499,127.174225,1.957962e+08,0.000000,0.000000
max,198.020004,199.619995,197.000000,198.110001,197.361084,1.460852e+09,0.240000,7.000000

Description for AMZN:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.0,2768.000000
mean,78.103231,79.006802,77.114984,78.078527,78.078527,7.832117e+07,0.0,0.007225
std,52.967403,53.616993,52.259118,52.929354,52.929354,4.130053e+07,0.0,0.380143
min,12.447000,12.646500,12.287500,12.411500,12.411500,1.762600e+07,0.0,0.000000
25%,26.714751,26.967124,26.329625,26.680125,26.680125,5.277205e+07,0.0,0.000000
50%,80.199997,81.157001,79.539753,80.149502,80.149502,6.681200e+07,0.0,0.000000
75%,120.805372,122.396749,119.100998,120.954998,120.954998,9.055150e+07,0.0,0.000000
max,187.199997,188.654007,184.839493,186.570496,186.570496,4.771220e+08,0.0,20.000000

Description for GOOG:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.0,2768.000000
mean,64.724876,65.408672,64.085334,64.761492,64.687880,3.833840e+07,0.0,0.008311
std,38.027166,38.491265,37.614899,38.053498,38.010244,2.613485e+07,0.0,0.382497
min,17.550716,17.567652,17.323069,17.506132,17.486233,1.584340e+05,0.0,0.000000
25%,32.726626,33.049937,32.207438,32.581625,32.544590,2.365258e+07,0.0,0.000000
50%,54.111750,54.708374,53.489250,54.122000,54.060482,3.025065e+07,0.0,0.000000
75%,93.956627,95.226625,92.572376,94.169998,94.062958,4.309665e+07,0.0,0.000000
max,151.863495,152.100006,149.887497,150.709000,150.537689,4.643901e+08,0.0,20.000000

Description for META:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.0,2768.0
mean,165.056871,167.192977,162.999104,165.142384,164.803724,2.925836e+07,0.0,0.0
std,87.602854,88.744150,86.530335,87.651297,87.471549,2.294442e+07,0.0,0.0
min,22.990000,23.090000,22.670000,22.900000,22.853037,5.467500e+06,0.0,0.0
25%,94.627499,95.849998,93.379999,94.407503,94.213898,1.615440e+07,0.0,0.0
50%,162.074997,165.065002,160.080002,162.514999,162.181732,2.223610e+07,0.0,0.0
75%,209.399998,211.782501,206.952499,210.102505,209.671650,3.344798e+07,0.0,0.0
max,381.679993,384.329987,378.809998,382.179993,381.396240,3.654579e+08,0.0,0.0

Description for MSFT:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.000000,2768.0
mean,139.118212,140.500921,137.699050,139.171243,133.298393,3.183635e+07,0.007153,0.0
std,102.591663,103.656363,101.486758,102.621768,102.914549,1.640070e+07,0.059020,0.0
min,26.490000,26.750000,26.280001,26.459999,21.508869,7.425600e+06,0.000000,0.0
25%,48.575002,48.917499,48.072501,48.579999,41.805311,2.221302e+07,0.000000,0.0
50%,101.094997,101.805000,99.574997,101.085003,94.787674,2.787770e+07,0.000000,0.0
75%,235.269997,238.005001,232.392498,235.532505,229.214165,3.639475e+07,0.000000,0.0
max,383.760010,384.299988,378.160004,382.700012,380.619812,2.484285e+08,0.750000,0.0

Description for NVDA:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.000000,2768.000000
mean,9.178032,9.342891,9.006939,9.182579,9.154201,4.487767e+08,0.000053,0.001445
std,11.584360,11.783670,11.369435,11.584148,11.586446,2.514657e+08,0.000432,0.076029
min,0.299000,0.303500,0.297750,0.299500,0.276482,4.564400e+07,0.000000,0.000000
25%,0.600313,0.617750,0.592750,0.613250,0.596342,2.870510e+08,0.000000,0.000000
50%,4.498000,4.544000,4.431375,4.504000,4.469223,3.941940e+08,0.000000,0.000000
75%,13.627937,13.838938,13.361375,13.594937,13.562615,5.409912e+08,0.000000,0.000000
max,50.216000,50.548000,49.411999,50.409000,50.398064,3.692928e+09,0.004000,4.000000

Description for TSLA:

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2.768000e+03,2768.0,2768.000000
mean,86.165479,88.065652,84.119394,86.141737,86.141737,1.143746e+08,0.0,0.002890
std,106.528592,108.908422,103.903977,106.440132,106.440132,7.812510e+07,0.0,0.110812
min,2.205333,2.225333,2.140667,2.194000,2.194000,6.603000e+06,0.0,0.000000
25%,14.829500,15.051000,14.598000,14.816833,14.816833,6.547125e+07,0.0,0.000000
50%,20.492666,20.895334,20.111667,20.569000,20.569000,9.411275e+07,0.0,0.000000
75%,184.712498,188.559166,180.440002,185.014999,185.014999,1.358409e+08,0.0,0.000000
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08,0.0,5.000000